<!DOCTYPE html>
<html>
  <head>
    <% include header.ejs %>
  </head>
  <body>

  <div class="login-page">
    <div class="container-fluid container-table">
      <div class="row vertical-center-row">
        <div class="col-sm-12">
          <div class="form">
            <form class="register-form" action="/register" method="post">
              <div class="form-group-lg">
                <input type="text" class="form-control" name="firstname" placeholder="firstname"/>
              </div>
              <div class="form-group-lg">
                <input type="text" class="form-control" name="lastname" placeholder="lastname"/>
              </div>
              <div class="form-group-lg">
                <input type="text" class="form-control" name="username" placeholder="username"/>
              </div>
              <div class="form-group-lg">
                <input type="password" class="form-control" name="password" placeholder="password"/>
              </div>
              <div class="form-group-lg">
                <select name="role" class="form-control">
                  <option value="admin">Admin</option>
                  <option value="employee">Employee</option>
                </select>
              </div>
              <div class="form-group-lg">
                <input type="email" class="form-control" name="email" placeholder="email"/>
              </div>
              <div class="form-group-lg">
                <textarea class="form-control" cols="30" rows="5" name="address" placeholder="address"></textarea>
              </div>
              <div class="form-group-lg">
                <input type="number" class="form-control" name="phone" placeholder="phone"/>
              </div>
              <button class="btn btn-success text-uppercase">create</button>
              <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form" action="/login" method="post">
              <div class="form-group-lg">
                <input type="text" class="form-control" name="username" placeholder="username"/>
              </div>
              <div class="form-group-lg">
                <input type="password" class="form-control" name="password" placeholder="password"/>
              </div>
              <button class="btn btn-success">login</button>
              <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


    <% include footer.ejs %>

  </body>
</html>
